/*---------------------------------------------------*/
/*                                                   */
/*            !!      FONT FACE      !!              */
/*                                                   */
/*---------------------------------------------------*/

@font-face {
  font-family: "Terminal-Grotesque";
  src: url("../fonts/Terminal/terminal-grotesque-webfont.woff") format("woff"),
        url("../fonts/Terminal/terminal-grotesque-webfont.woff2") format("woff2"),
        url("../fonts/Terminal/terminal-grotesque-webfont.eot") format("embedded-opentype"),
        url("../fonts/Terminal/terminal-grotesque-webfont.svg") format("svg"),
        url("../fonts/Terminal/terminal-grotesque-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Sligoil";
  src: url("../fonts/Sligoil/Sligoil-Micro.woff") format("woff"),
        url("../fonts/Sligoil/Sligoil-Micro.woff2") format("woff2"),
        url("../fonts/Sligoil/Sligoil-Micro.otf") format("opentype"),
        url("../fonts/Sligoil/Sligoil-Micro.ttf") format("truetype");
}
@font-face {
  font-family: "Anthony.ttf";
  src: url("../fonts/anthony/Anthony.woff") format("woff"),
        url("../fonts/anthony/Anthony.woff2") format("woff2"),
        url("../fonts/anthony/Anthony.eot") format("embedded-opentype"),
        url("../fonts/anthony/Anthony.otf") format("opentype"),
        url("../fonts/anthony/Anthony.ttf") format("truetype");
}
@font-face {
  font-family: "BilboINC.ttf";
  src: url("../fonts/BilboINC/BilboINC-Regular_web.woff") format("woff"),
        url("../fonts/BilboINC/BilboINC-Regular_web.woff2") format("woff2"),
        url("../fonts/BilboINC/BilboINC-Regular_web.eot") format("embedded-opentype"),
        url("../fonts/BilboINC/BilboINC-Regular_web.otf") format("opentype"),
        url("../fonts/BilboINC/BilboINC-Regular_web.svg") format("svg"),
        url("../fonts/BilboINC/BilboINC-Regular_web.ttf") format("truetype");
}
@font-face {
  font-family: "CirrusCumulus.ttf";
  src: url("../fonts/cirruscumulus/CirrusCumulus.woff") format("woff"),
        url("../fonts/cirruscumulus/CirrusCumulus.otf") format("opentype"),
        url("../fonts/cirruscumulus/CirrusCumulus.ttf") format("truetype");
}
@font-face {
  font-family: "Commune-Nuit_Debout_web.ttf";
  src: url("../fonts/Commune-Nuit-Debout/Commune-Nuit_Debout_web.woff") format("woff"),
        url("../fonts/Commune-Nuit-Debout/Commune-Nuit_Debout_web.woff2") format("woff2"),
        url("../fonts/Commune-Nuit-Debout/Commune-Nuit_Debout_web.eot") format("embedded-opentype"),
        url("../fonts/Commune-Nuit-Debout/Commune-Nuit_Debout_web.otf") format("opentype"),
        url("../fonts/Commune-Nuit-Debout/Commune-Nuit_Debout_web.svg") format("svg"),
        url("../fonts/Commune-Nuit-Debout/Commune-Nuit_Debout_web.ttf") format("truetype");
}

/*---------------------------------------------------*/
/*                                                   */
/*            !!      BEGIN STYLE      !!            */
/*                                                   */
/*---------------------------------------------------*/

body {
  background: #ccc;
  font-family: "Terminal-Grotesque", monospace;
  margin: 10px;
}
audio {
  width: 50px;
  border-radius: 5px;
  background-color: #f0f;
  box-shadow: 4px 4px #000;
  border: 2px #ff0 dashed;
  transition: 0.5s ease;
}
audio:hover {
  box-shadow: 8px 8px #000;
}
h1 {
  text-align: center;
  font-size: 28pt;
  margin: 10px;
}
nav select {
  font-family: "Sligoil", monospace;
  margin: 5px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: #f0f;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 4px 4px #000;
  transition: 0.5s ease;
  color: #000;
}
nav select:hover {
  box-shadow: 8px 8px #000;
  background-color: #ff0 !important;
}

nav, main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 15vh;
}
button {
  font-family: "Sligoil", monospace !important;
  background: #f0f !important;
  border-radius: 5px !important;
  padding: 10px 25px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin: 10px !important;
  cursor: pointer;
  box-shadow: 4px 4px #000;
  transition: 0.5s ease;
}
button:hover {
  box-shadow: 8px 8px #000;
  background-color: #ff0 !important;
  color: #000;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
textarea {
  /* font-family: "Sligoil", monospace; */
  min-width: 60vw;
  min-height: 130px;
  border-radius: 5px;
  box-shadow: 4px 4px #000;
  margin: 10px !important;
  background-color: #ddd;
  border: 2px dashed #f0f;
}
.img {
  max-width: 560px;
}
.drag-area {
  font-family: "Sligoil", monospace;
  background: #ddd;
  border: 2px dashed #f0f;
  height: 80%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  box-shadow: 4px 4px #000;
}
.drag-area input {
  font-family: "Sligoil", monospace;
}
.status {
  border: 4px #ff0 dashed;
  border-radius: 5px;
  margin: 10px 40px;
  padding: 0px 40px;
  box-shadow: 4px 4px #000;
  background-color: #ddd;
  transition: 0.5s ease;
}
.status p {
  text-decoration: underline;
  text-decoration-color: #f0f;
  font-family: "Sligoil", monospace;
  font-size: 20pt;
  word-wrap: break-word;
}
.status:hover {
  box-shadow: 8px 8px #000;
}
