body {
  background: #ffa9c7;
  font-family: "terminal-grotesque.ttf", monospace;
  margin: 10px;
}
audio {
  width: 50px;
  border-radius: 5px;
  background-color: #f0f;
  box-shadow: 4px 4px #aad7fa;
  border: 2px #fafc66 dashed;
  transition: 0.5s ease;
}
audio:hover {
  box-shadow: 8px 8px #aad7fa;
}
h1 {
  text-align: center;
  font-size: 28pt;
  margin: 10px;
}
nav select {
  font-family: "Sligoil-Micro.ttf", monospace;
  margin: 5px;
  width: 250px;
  height: 50px;
  border-radius: 100px;
  background-color: #ddd;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 4px 4px #aad7fa;
  transition: 0.5s ease;
  color: #000;
}
nav select:hover {
  box-shadow: 8px 8px #aad7fa;
  background-color: #fafc66 !important;
}

nav, main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 15vh;
}
button {
  font-family: "Sligoil-Micro.ttf", monospace !important;
  background: #ddd !important;
  border-radius: 100px !important;
  padding: 10px 25px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  margin: 10px !important;
  cursor: pointer;
  box-shadow: 4px 4px #aad7fa;
  transition: 0.5s ease;
  color: #000;
}
button:hover {
  box-shadow: 8px 8px #aad7fa;
  background-color: #fafc66 !important;
  color: #000;
}
section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
textarea {
  font-family: "VG5000-Regular_web.ttf", monospace;
  font-size: 28px;
  min-width: 60vw;
  min-height: 130px;
  border-radius: 25px;
  box-shadow: 4px 4px #aad7fa;
  margin: 10px !important;
  background-color: #fafc66;
  border: 2px dashed #f0f;
}
.img {
  max-width: 560px;
}
.drag-area {
  font-family: "Sligoil-Micro.ttf", monospace;
  background: #fafc66;
  border: 2px dashed #f0f;
  height: 80%;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  box-shadow: 4px 4px #aad7fa;
}
.drag-area input {
  font-family: "Sligoil-Micro.ttf", monospace;
}
.status {
  border: 4px #fafc66 dashed;
  border-radius: 100px;
  margin: 10px 40px;
  padding: 0px 40px;
  box-shadow: 4px 4px #aad7fa;
  background-color: #ddd;
  transition: 0.5s ease;
}
.status p {
  text-decoration: underline;
  text-decoration-color: #f0f;
  font-family: "Sligoil-Micro.ttf", monospace;
  font-size: 20pt;
  word-wrap: break-word;
}
.status:hover {
  box-shadow: 8px 8px #aad7fa;
}
span {
  display: none;
}


@media (max-width: 450px) {
  textarea, .drag-area {
    width: 95%;
  }
  audio {
    display: none;
  }
}
